/* callout */
.callout {
  padding: 4rem;
  border-radius: 5px;
  &--priamry {
    background: $color-primary;
    color: white;
  }
  &__heading {
    color: white;
    margin-top: 0;
    font-size: 3rem;
    text-align: center;
  }
  &__text {
    text-align: center;
  }

  & .btn {
    align-self: center;
    justify-self: center;
  }
}

@media screen and (min-width: 768px) {
  .callout {
    & .grid--col-2 {
      grid-template-columns: 1fr auto;
    }
    &__content {
      text-align: left;
    }
    & .btn {
      justify-self: start;
      margin: 0 2rem;
    }
  }
}
