/* feature */
.feature {
  gap: 4rem 2rem;
  margin: 12rem 0;

  &__heading {
    margin: 1rem 0;
  }
  &__img {
    width: 100%;
  }
  & > picture {
    margin: 0 auto;
  }

  &:first-of-type {
    margin-top: 6rem;
  }
}

@media screen and (min-width: 768px) {
  .feature:nth-of-type(even) .feature__content {
    order: 2;
  }
}
