.icon {
  width: 40px;
  height: 40px;
  &--primary {
    fill: $color-primary;
  }
  &--secondary {
    fill: $color-secondary;
  }
}

.icon-container {
  background: $icon-background;
  width: 64px;
  height: 64px;
  border-radius: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
