/* list */
.list {
  list-style: none;
  padding-left: 0;
  color: $color-headings;

  &--inline &__item {
    display: inline-block;
    margin-right: 2rem;
  }
  &--tick {
    list-style-image: url(../img/tick.svg);
    padding-left: 3rem;
    .list__item {
      padding-left: 0.5rem;
    }
  }
}
