$color-primary: #2584ff;
$color-secondary: #00d9ff;
$color-accent: #ff3400;
$icon-background: #f3f9fa;

$color-headings: #1b0760;
$color-body: #918ca4;
$color-body-darker: #5c5577;

$color-borders: #ccc;
