<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,200;0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>DEMO MAFIA SITE</title>
  </head>
  <body style="padding: 5rem">
    <div class="callout callout--priamry">
      <div class="grid grid--col-2">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to Kill your problem?</h2>
          <p class="callout__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
            beatae consectetur cupiditate esse natus assumenda optio impedit
            soluta. Saepe labore molestias corporis, voluptatum nesciunt,
            pariatur eos ipsam iusto minus provident libero possimus! Quasi
            distinctio necessitatibus doloribus maiores error quod vitae. Illum
            sint nihil cumque assumenda fugiat eaque quisquam architecto quos.
          </p>
        </div>
        <a href="#" class="btn btn--secondary btn--long">Get started</a>
      </div>
    </div>
  </body>
</html>
