<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,200;0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>DEMO MAFIA SITE</title>
  </head>
  <body>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--primary">
        <header class="card__header">Card title</header>
        <div class="card__body">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere iure
          quas quod maxime odit, atque dolorem obcaecati! Impedit quia iste
          atque perspiciatis soluta dicta eaque ipsum! Numquam earum delectus
          nesciunt.
        </div>
      </div>
    </div>
    <div style="width: 30%; padding: 4rem">
      <div class="card card--secondary">
        <header class="card__header">Card title</header>
        <div class="card__body">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere iure
          quas quod maxime odit, atque dolorem obcaecati! Impedit quia iste
          atque perspiciatis soluta dicta eaque ipsum! Numquam earum delectus
          nesciunt.
        </div>
      </div>
    </div>
  </body>
</html>
