<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,200;0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>DEMO MAFIA SITE</title>
  </head>
  <body>
    <div class="collaps collaps--expander">
      <header class="collaps__header">
        <h2 class="collaps__heading">Item 1</h2>
        <svg class="icon icon--white collaps__chevron">
          <use xlink:href="img/chevron.svg#chevron"></use>
        </svg>
      </header>
      <div class="collaps__content">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam quas nihil
        obcaecati explicabo unde commodi. Totam sequi vero harum consectetur,
        quibusdam fugit unde? Esse corporis vitae voluptate fugiat modi cum
        libero. Culpa eveniet, fugiat reiciendis fuga quos voluptatem, libero
        laborum distinctio adipisci mollitia itaque veritatis cumque velit quam
        animi sequi!
      </div>
    </div>
    <script src="js/collaps.js"></script>
  </body>
</html>
