<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,200;0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>DEMO MAFIA SITE</title>
  </head>
  <body>
    <section class="block container">
      <header class="block__header">
        <h2>Host on MOP buzzom</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum,
          beatae!
        </p>
      </header>
      <article class="grid grid--col-2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--secondary">
              <use xlink:href="../img/sprite.svg#easy"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Super easy to kill</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            possimus assumenda ducimus alias aut nemo libero corrupti tempora
            harum ipsa!
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="../img/easy.webp 1x, ../img/easy@2x.webp 2x"
          />
          <source
            type="image/png"
            srcset="../img/easy.png 1x, ../img/easy@2x.png 2x"
          />
          <img class="feature_img" src="../img/easy.png" alt="easy pic" />
        </picture>
      </article>
      <article class="grid grid--col-2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--secondary">
              <use xlink:href="img/sprite.svg#easy"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Super easy to kill</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            possimus assumenda ducimus alias aut nemo libero corrupti tempora
            harum ipsa!
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="../img/easy.webp 1x, ../img/easy@2x.webp 2x"
          />
          <source
            type="image/png"
            srcset="../img/easy.png 1x, ../img/easy@2x.png 2x"
          />
          <img class="feature_img" src="../img/easy.png" alt="easy pic" />
        </picture>
      </article>
      <article class="grid grid--col-2 feature">
        <div class="feature__content">
          <span class="icon-container">
            <svg class="icon icon--secondary">
              <use xlink:href="img/sprite.svg#easy"></use>
            </svg>
          </span>
          <h3 class="feature__heading">Super easy to kill</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores
            possimus assumenda ducimus alias aut nemo libero corrupti tempora
            harum ipsa!
          </p>
          <a href="#" class="link-arrow">Learn More</a>
        </div>
        <picture>
          <source
            type="image/webp"
            srcset="../img/easy.webp 1x, ../img/easy@2x.webp 2x"
          />
          <source
            type="image/png"
            srcset="../img/easy.png 1x, ../img/easy@2x.png 2x"
          />
          <img class="feature_img" src="../img/easy.png" alt="easy pic" />
        </picture>
      </article>
    </section>
    <script src="../js/collaps.js"></script>
  </body>
</html>
