<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,200;0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>DEMO MAFIA SITE</title>
  </head>
  <body>
    <footer class="block block--dark footer">
      <section class="container grid footer__sections">
        <div class="collaps collaps--expander footer__section">
          <header class="collaps__header">
            <h2 class="collaps__heading footer__heading">All</h2>
            <svg class="icon icon--white collaps__chevron">
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collaps__content">
            <ul class="list">
              <li><a href="#">Kiling</a></li>
              <li><a href="#">Hanging</a></li>
              <li><a href="#">Suffering</a></li>
            </ul>
          </div>
        </div>
        <div class="collaps footer__section">
          <header class="collaps__header">
            <h2 class="collaps__heading footer__heading">Specific</h2>
            <svg class="icon icon--white collaps__chevron">
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collaps__content">
            <ul class="list">
              <li><a href="#">Kiling wife</a></li>
              <li><a href="#">Haning grandpa</a></li>
              <li><a href="#">Suffering kids</a></li>
            </ul>
          </div>
        </div>
        <div class="collaps footer__section">
          <header class="collaps__header">
            <h2 class="collaps__heading footer__heading">More</h2>
            <svg class="icon icon--white collaps__chevron">
              <use xlink:href="img/sprite.svg#chevron"></use>
            </svg>
          </header>
          <div class="collaps__content">
            <ul class="list">
              <li><a href="#">Kiling4fun</a></li>
              <li><a href="#">Haning4fun</a></li>
              <li><a href="#">Suffering4fun</a></li>
            </ul>
          </div>
        </div>

        <section class="footer__brand">
          <span class="footer__mafiaicon">
            <svg class="icon" viewBox="0 0 25 25">
              <use xlink:href="img/sprite.svg#mafia-icon"></use>
            </svg>
            Mafia template
          </span>
          <div class="footer__copyright">
            <p>Copyright 2022 for Mafia</p>
            <p>(don't f**k with as)</p>
          </div>
        </section>
      </section>
    </footer>
    <script src="js/collaps.js"></script>
  </body>
</html>
