<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,200;0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>DEMO MAFIA SITE</title>
  </head>
  <body>
    <section class="block container plan-blocks">
      <div class="grid grid--col-3">
        <div class="card-children">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="card-children__name">Title</h3>
              <span class="card-children__price">40 zł</span>
              <span class="card-children__billing">/miesiąc</span>
              <span class="badge badge--secondary badge--small"
                >10% zniżki</span
              >
              <span class="card-children__discription"
                >Będziesz zadowolony</span
              >
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Item1</li>
                <li class="list__item">Item2</li>
                <li class="list__item">Item3</li>
              </ul>
              <button class="btn btn--outline btn--block">Wykup teraz</button>
            </div>
          </div>
        </div>
        <div class="card-children card-children--popular">
          <div class="card card--primary">
            <header class="card__header">
              <h3 class="card-children__name">Title</h3>
              <span class="card-children__price">40 zł</span>
              <span class="card-children__billing">/miesiąc</span>
              <span class="badge badge--primary badge--small">10% zniżki</span>
              <span class="card-children__discription"
                >Będziesz zadowolony</span
              >
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Item1</li>
                <li class="list__item">Item2</li>
                <li class="list__item">Item3</li>
              </ul>
              <button class="btn btn--outline btn--block">Wykup teraz</button>
            </div>
          </div>
        </div>
        <div class="card-children">
          <div class="card card--secondary">
            <header class="card__header">
              <h3 class="card-children__name">Title</h3>
              <span class="card-children__price">40 zł</span>
              <span class="card-children__billing">/miesiąc</span>
              <span class="badge badge--secondary badge--small"
                >10% zniżki</span
              >
              <span class="card-children__discription"
                >Będziesz zadowolony</span
              >
            </header>
            <div class="card__body">
              <ul class="list list--tick">
                <li class="list__item">Item1</li>
                <li class="list__item">Item2</li>
                <li class="list__item">Item3</li>
              </ul>
              <button class="btn btn--outline btn--block">Wykup teraz</button>
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="js/collaps.js"></script>
  </body>
</html>
