<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,200;0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/normalize/normalize.css" />
    <link rel="stylesheet" href="../css/style.css" />

    <title>DEMO MAFIA SITE</title>
  </head>
  <body>
    <section class="block">
      <header class="block__header">
        <h2>What our Friends are saying</h2>
      </header>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto
        voluptas ducimus dolores, nobis dolor nemo magni praesentium modi,
        consequuntur quae ipsam et ex explicabo eveniet, sed quisquam ut quas
        ipsum.
      </p>
      <div class="container">
        <div class="card testimonial">
          <div class="grid grid--col-2">
            <div class="testimonial__img">
              <picture>
                <source
                  type="image/webp"
                  srcset="
                    img/resize/mf.webp    1x,
                    img/resize/mf@2x.webp 2x,
                    img/resize/mf@3x.webp 3x
                  "
                />
                <source
                  type="image/png"
                  srcset="
                    img/resize/mf.png    1x,
                    img/resize/mf@2x.png 2x,
                    img/resize/mf@3x.png 3x
                  "
                />
                <img
                  class="testimonial__img"
                  src="img/resize/mf.png"
                  alt="Maciej Fijałkowski"
                />
              </picture>
              <span class="icon-container icon-container-accent">
                <svg class="icon icon--white icon--small">
                  <use xlink:href="img/sprite.svg#quotes"></use>
                </svg>
              </span>
            </div>
            <blockquote class="quote">
              <p class="quote__text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem
                sapiente possimus minima cum voluptas ab architecto quibusdam
                rem aliquam eos! Odit labore incidunt eveniet necessitatibus
                libero eaque accusamus enim maxime.
              </p>
              <footer>
                <div class="media">
                  <div class="media__img">
                    <svg class="icon icon--primary quote__line">
                      <use xlink:href="img/sprite.svg#line"></use>
                    </svg>
                  </div>
                  <div class="media__body">
                    <h3 class="media__title quote__author">
                      Maciej Fijałkowski
                    </h3>
                    <p class="quote__organization">Mafia Co.</p>
                  </div>
                </div>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </section>

    <script src="js/collaps.js"></script>
  </body>
</html>
