<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Indie+Flower&family=Inter:wght@400;600;700&family=Poppins:ital,wght@0,200;0,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/normalize/normalize.css" />
    <link rel="stylesheet" href="css/style.css" />

    <title>DEMO MAFIA SITE</title>
  </head>
  <body>
    <section class="block block--dark block--skewed-right">
      <div class="container grid grid--col-2">
        <header class="block__header banner__content">
          <h1 class="block__heading">Mafia</h1>
          <p class="banner__tagline">Your problem, our solition</p>
          <a href="#" class="btn btn--accent btn--long btn--space"
            >Kill your problem</a
          >
        </header>
        <img class="banner__img" src="img/main-icon.png" alt="" />
      </div>
    </section>
    <script src="js/collaps.js"></script>
  </body>
</html>
